<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'icons/favicon.png' %}">

    {% block extra_styles %}
    {% endblock %}

</head>
<body>
    <nav class="navbar">
        <p class="navbar-brand">
            <a href="{% url 'home' %}">Medico</a>
        </p>
        {% if user.is_authenticated %}
            <div>
                <a href="{% url 'hospital_home' %}">Hospital Dashboard</a>&nbsp;&nbsp;|
                <a href="{% url 'hospital_view_profile' %}">View profile</a>
                <a href="{% url 'hospital_logout' %}">Logout</a>
            </div>
        {% endif %}
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="animated-toast toast-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>