{% extends 'hospital/base_hospital.html' %}

{% block title %}User Home{% endblock %}

{% block extra_styles %}
    <style>
        .index-list {
            display: flex;
            padding: 4rem;
            justify-content: space-evenly;
            gap: 0.7rem;
        }

        .card {
            width: 25%;
            height: auto;
            transition: 0.2s ease;
        }

        .card:hover {
            transform: scale(1.06);
        }
    </style>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="index-list">
        <div class="card">
            <h2>Hospital Dashboard</h2>
            <button class="btn btn-primary"><a href="{% url 'view_doctors' %}">View Doctors</a></button>
        </div>
        <div class="card">
            <h2>Add Doctor</h2>
            <button class="btn btn-primary"><a href="{% url 'add_doctor' %}">Add Doctor</a></button>
        </div>
        <div class="card">
            <h2>View Doctor Appointments</h2>
            <button class="btn btn-primary"><a>View Appointments</a></button>
        </div>
    </div>

    {% else %}
    <div class="index-list">
        <div class="card">

            <h2>Hospital Dashboard</h2>
            <h3>
                <a href="{% url 'hospital_signup' %}">Signup </a> or
                <a href="{% url 'hospital_signin' %}">Signin</a> here
            </h3>

        </div>
        <div class="card">
            <h2>Doctor Dashboard</h2>
            <h3><a href="{% url 'doctor_signin' %}">Signin</a> here</h3>
        </div>
    </div>
    {% endif %}
{% endblock %}