{% extends 'hospital/base_hospital.html' %}

{% block title %}User Registration{% endblock %}

{% block extra_styles %}

    <style>
        .container {
            max-width: 60vh;
            height: fit-content;
        }
    </style>
{% endblock %}

{% block content %}

<div class="container card">
    <h1>Sign up</h1>
    {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        {% for field in user_form %}
        <div class="forms-div">
            <div>
                {{ field.label_tag }}
                {{ field }}
            </div>
            <em><strong>{{ field.errors }}</strong></em>
        </div>
        {% endfor %}
        {% for field in hospital_profile_form %}
        <div class="forms-div">
            <div>
                {{ field.label_tag }}
                {{ field }}
            </div>
            <em><strong>{{ field.errors }}</strong></em>
        </div>
        {% endfor %}
        <span>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="submit" class="btn btn-secondary">
                <a href="{% url 'user_signin' %}">Signin</a>
            </button>
        </span>
    </form>
</div>

{% endblock %}