<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'icons/favicon.png' %}">
    {% block extra_styles %}
    {% endblock %}


</head>
<body>
    <nav class="navbar">
        <p class="navbar-brand">
            <a href="{% url 'home' %}">Medico</a>
        </p>
        {% if messages %}
            {% for message in messages %}
                <div class="animated-toast toast-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div>
            {% if user.is_authenticated %}
            <a href="{% url 'doctor_dashboard' %}">Dashboard</a>
            <a href="{% url 'doctor_appointments' %}">Appointments</a>
            <a href="{% url 'hospital_logout' %}">Logout</a>
            {% endif %}
        </div>
    </nav>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>