{% extends 'doctor/base_doctor.html' %}

{% block title %}User Login{% endblock %}

{% block extra_styles %} 
    <style>
        .container {
            max-width: 60vh;
            height: fit-content;
        }
        form {
            align-content: center;
        }
        form *{
            margin: 0 auto 0 auto;
        }
    </style>
{% endblock %}

{% block content %}
{% for message in messages %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}
<div class="container card">
    <h2>Signin</h2>
    <form method="post">
        {% csrf_token %}
        <div class="forms-div">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div>
            <button class="btn btn-primary">Submit</button>
            <button class="btn btn-secondary">
                <a href="{% url 'user_signup' %}">Signup</a>
            </button>
        </div>
    </form>
</div>

{% endblock %}