<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'icons/favicon.png' %}">
    {% block extra_styles %} 
        
    {% endblock %}
    
</head>
<body>
    <nav class="navbar">
        <p class="navbar-brand">
            <a href="{% url 'home' %}">Medico</a>
        </p>
        {% if user.is_authenticated %}
            <div>
                <a href="{% url 'user_home' %}">Home</a>
                <a href="{% url 'upload_image' %}">Image Upload</a>
                <a href="{% url 'user_logout' %}">Logout</a>
            </div>
        {% else %}
        <div>
            <a href="{% url 'user_home' %}">Home</a>
            <a href="{% url 'user_signin' %}">Signin</a>
            <a href="{% url 'user_signup' %}">Signup</a>
            <a href="{% url 'upload_image' %}">Image Upload</a>
        </div>
        {% endif %}
    </nav>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>